.Categoreis{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
}
.Categoreis h2{
    font-size: 2rem;
    margin: 2rem;
}

.Categoreis ul li {
    font-size: 1.2rem;
    margin: 1.5rem;
    color: #a6a6a6;
}