.location{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}
.iconimages{
    width: 2rem;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.box1 h3{
    font-size: 1.7rem;
}